#conteneur1
{
	display: flex;
	justify-content: space-between;
}
#conteneur2
{
	justify-content: center;
}


#conteneur3
{
	display: flex;
	justify-content: space-between;
	border: 1px blue solid;
}

#conteneur4
{
	display: flex;
	justify-content: space-between;
}

#conteneur5
{
	display: flex;
	justify-content: flex-end;
	justify-content: space-around;

}